header {
	padding-top: 1rem;
	border-bottom: 1px solid #ccc;
	h1.site-id {
		margin: 0 0 1rem;
		a {width: 180px; height: auto;}
	}
	li.phone, li.search {font-weight: normal; padding-right: 2em; line-height: 45px;}
	
	.top-bar {padding-top: 6px;}	

}


header .top-bar .top-bar-section li {
	border-top: solid 1px lighten($topbar-dropdown-bg, 10%);
	border-bottom: solid 1px darken($topbar-dropdown-bg, 5%);
	border-left: none;
	border-right: none;
	text-transform: uppercase;
	color: #666;
	&:first-child {
		border-top: none;
		background: #f1f1f1;
	}
	&:last-child {
		border-bottom: none;
	}
	a:not(.button) {padding-left: 11px; padding-right: 11px;}
}



@media #{$screen} { 
	header .top-bar .top-bar-section li {
		border-left: solid 1px darken($topbar-bg, 5%);
		border-right: solid 1px lighten($topbar-bg, 10%);
		border-bottom: none;
		border-top: none;
		&:first-child {
			border-left: none;
		}
		&:last-child {
			border-right: none;

		}
	}
	.contain-to-grid .top-bar {margin-bottom: 0;}
	// .nav-col {background: #f1f1f1;}
	// h5.phone {background: #f1f1f1;}

}

@media #{$small} { 

	// .nav-col {background: #fff;}
	// h5.phone {display: block; background: #fff;}
}