header {
	padding-top: 1rem;
	border-bottom: 1px solid #ccc;
	h1.site-id {
		margin: 0 0 1rem;
		a {width: 180px; height: auto;}
	}
	li.phone, li.search {font-weight: normal; padding-right: 2em; line-height: 45px;}
	
	

}

.columns.nav-col {padding-left:0; padding-right:0;}

.top-bar-section a:hover,
.top-bar-section .dropdown li a:hover
	{color: $primary-color;}


header .top-bar .top-bar-section li {
	border-left: none;
	border-right: none;
	text-transform: uppercase;
	color: #666;
	&:first-child {
		border-top: none;
		background: #f1f1f1;
	}
	&:last-child {
		border-bottom: none;
	}
	a:not(.button) {padding-left: 11px; padding-right: 11px;}
}

.top-bar-section .dropdown li a {
	padding: .75rem 15px;
}


.top-bar, .top-bar.expanded {
	border-top: 1px solid #ccc;
	background: #f1f1f1;
}

.top-bar.expanded .title-area {background: #f1f1f1;}

.top-bar.expanded .top-bar-section {
	border-top: 1px solid #f1f1f1;
}

@media #{$screen} { 
	header .top-bar .top-bar-section li {
		border-left: 0 none;
		border-bottom: none;
		border-top: none;
		&:first-child {
			border-left: none;
		}
		&:last-child {
			border-right: none;

		}
	}
	.contain-to-grid .top-bar {margin-bottom: 0;}
	// .nav-col {background: #f1f1f1;}
	// h5.phone {background: #f1f1f1;}

}

@media #{$small} { 
	// .nav-col {border-left: 1px solid #f1f1f1;}
	.top-bar, .top-bar.expanded {
		padding-top: 10px;
		border-top: 0 none;
		background: transparent;
	}
	// .top-bar-section a:hover,
	// .top-bar-section .dropdown li a:hover
	// {border-left:3px solid $primary-color;}

	
}

@media #{$medium} { 
	.nav-col {border-left: none;}
	// header .top-bar .top-bar-section li {
	// 	border-left: solid 1px darken($topbar-bg, 5%);
	// }
	
}