.process {

	.title-bar {
		background: url(baystate-test-1.jpg) no-repeat 50% 50%;
		background-size: cover;
	}

	h2 {
		line-height: 60px;
		background: #f1f1f1;
		padding: 0 1rem;
		border-right: 4px solid #98C91B;
		text-transform: uppercase;
		text-align: right;
		font-size: emCalc(18px);
	}

	section.phase {
		padding: 2rem 0;
		border-bottom: 1px solid #ccc;
	}

}